@font-face {font-family: "iconfont";

  src: url('iconfont.eot?t=1566358532389#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.ttf?t=1566358532389') format('truetype') /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */

}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-warn:before {
  content: "\e625";
}

.icon-sanjiao:before {
  content: "\e60e";
}

.icon-yonghu:before {
  content: "\e643";
}

.icon-wulumuqishigongandashujuguanlipingtai-ico-:before {
  content: "\e7ea";
}

.icon-zhiwen:before {
  content: "\e640";
}

.icon-shezhi:before {
  content: "\e641";
}

.icon-tijiaochenggong:before {
  content: "\e72e";
}

.icon-zhengxingke:before {
  content: "\e780";
}

.icon-miniaoke:before {
  content: "\e785";
}

.icon-fuke:before {
  content: "\e786";
}

.icon-zhuye:before {
  content: "\e650";
}

